@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;



*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: auto;
}

html,
body,
#root {
    @include hide-scrollbar;
}

body {
    font-family: $font-family;
    background-color: $bg-color;
    color: $text-color;
    font-size: $font-16;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none !important;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    background: none;
    border: none;
    font-family: inherit;
    color: inherit;
}

a,
button,
[role="button"],
input,
select,
textarea,
.card,
.glass-overlay,
.tab-item,
.project-preview-card {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
