@use "../abstracts/variables" as *;

.about-panel {
  height: 100%; // Match height with Tools panel

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .tag {
      background-color: #2c2c2c;
      color: $text-color;
      font-size: $font-14;
      padding: 8px 16px; // Adjust padding to look like pill
      border-radius: $radius-full;
      white-space: nowrap;
    }
  }
}
